<%= form_with model: book do |f| %>
  <div class = "form">
    <div class = "book-title">Title</div>
    <%= f.text_field :title,class:"form-control book_title" %>
  </div>
  <div class = "form">
    <div class = "book_opinion">Opinion</div>
    <%= f.text_area :body,class:"form-control book_opinion" %>
  </div>
  <div class = "form">
    <div class = "create" >
      <%= f.submit "Create Book",class:"btn btn-success"%>
    </div>
  </div>
<% end %>